<header class="header">
  <nav class="navbar">
    <div class="navbar__brand">
      <a href="/">
        <img src="logo.svg" alt="logo" class="navbar__logo" />
      </a>
      <a class="navbar__burger" (click)="toggleMenu()">
        <i class="navbar__icons" [ngClass]="isMenuOpen ? 'fas fa-times' : 'fas fa-bars'"></i>
      </a>
    </div>
    @if (isMenuOpen) {
      <ul class="navbar__menu">
        <li class="navbar__item"><a class="navbar__link" href="/">Home</a></li>
        <li class="navbar__item"><a class="navbar__link" href="/movies">Films</a></li>
        <li class="navbar__item"><a class="navbar__link" href="/series">Series</a></li>
        <li class="navbar__item"><a class="navbar__link" href="/rated">Rated</a></li>
        <li class="navbar__user">
          <i class="fa-solid fa-magnifying-glass"></i>
          <p>¡Hola, Alejandro!</p>
          <img src="imagen-perfil.jpg" alt="perfil" class="navbar__image">
          <i class="fa-solid fa-chevron-down"></i>
        </li>
      </ul>
    }
  </nav>
</header>
