.header {
  background-color: #191919;
}
.navbar {
  padding: 20px;
  display: flex;
  gap: 30px;

  &__brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    @media (min-width: 768px) {
      width: auto;
    }
  }
  &__logo {
    width: 70px;
  }
  &__burger {
    cursor: pointer;
    font-size: 25px;
    justify-self: flex-end;
    color: white;
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    align-items: end;
    list-style: none;
    position: absolute;
    right: 0;
    top: 70px;
    padding: 15px;
    background-color: #191919;
    border-radius: 10px;
    min-width: 180px;
    gap: 15px;
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      position: initial;
      gap: 25px;
    }
  }
  &__link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
  &__user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;max-width: 150px;
    gap: 10px;
    @media (min-width: 768px) {
      position: absolute;
      right: 0;
      padding: 10px;
      max-width: 300px;

    }
  }
  &__image {
    width: 45px;
    border-radius: 15px;
  }
}
