<div class="modal">
  <i class="fa-solid fa-x modal__close" (click)="closeModal()"></i>
  <h3>Fill out the form</h3>
  <form  class="form" id="form">
    <label for="name" class="form__label">
      Name*
      <input type="text" name="name" id="name" required class="form__input" />
    </label>
    <label for="first-surname" class="form__label">
      First Surname*
      <input
        type="text"
        name="first-surname"
        id="first-surname"
        required
        class="form__input"
      />
    </label>
    <label for="second-surname" class="form__label">
      Second Surname*
      <input
        type="text"
        name="second-surname"
        id="second-surname"
        required
        class="form__input"
      />
    </label>
    <label for="email" class="form__label">
      Email*
      <input
        type="email"
        name="email"
        id="email"
        required
        class="form__input"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      title="Please enter a valid email address."
      />
    </label>
    <label for="rating" class="form__label">
      Rating*
      <select name="rating" id="rating" required class="form__input">
        <option value="" disabled selected>Select your rating</option>
        <option value="1">1 ★</option>
        <option value="2">2 ★★</option>
        <option value="3">3 ★★★</option>
        <option value="4">4 ★★★★</option>
        <option value="5">5 ★★★★★</option>
      </select>
    </label>
  </form>
  <div class="form__btns">
    <button class="form__btn-cancel" (click)="closeModal()">
      <img src="Icon.png" alt="icon" class="form__btn-span" />
      <span> Cancel </span>
    </button>
    <button type="submit" class="form__btn-send" form="form" (click)="submitRating($event)" >
      <img src="Vector.png" alt="vector" class="form__btn-span" />
      <span> Send </span>
    </button>
  </div>
</div>
