.card {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  gap: 15px;
  padding: 15px;

  &__a {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  &__image {
    border-radius: 15px;
    max-width: 200px;
  }

  &__rated {
    color: green;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  &__average {
    display: flex;
    gap: 5px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
  }

  &__star {
    color: yellow;
    font-size: 0.7rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }
}
