<section class="section">
  <h3>RATED</h3>
  <article class="section__article">
    <h4>Films</h4>
      @if(ratedMovies.length > 0){
        <div class="scrollable scrollable-movies">
          <i class="fa-solid fa-chevron-left" (click)="scrollLeft('scrollable-movies')"></i>
              @for (movie of ratedMovies; track movie.id){
                <app-flix-list-element
                  [title]="movie.title"
                  [average]="movie.vote_average"
                  [date]="movie.release_date"
                  [image]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
                  [isRated]="true"
                  class="section__flix"
                 ></app-flix-list-element>}

          <i class="fa-solid fa-chevron-right" (click)="scrollRight('scrollable-movies')"></i>
        </div>
      } @else {
        <p>No rated movies found.</p>
      }

  </article>

  <article class="section__article">
    <h4>Series</h4>
    @if(ratedSeries.length > 0){
      <div class="scrollable scrollable-series">
        <i class="fa-solid fa-chevron-left" (click)="scrollLeft('scrollable-series')"></i>
      @for (serie of ratedSeries; track serie.id){
          <app-flix-list-element
            [title]="serie.name"
            [average]="serie.vote_average"
            [date]="serie.first_air_date"
            [image]="'https://image.tmdb.org/t/p/w500/' + serie.poster_path"
            [isRated]="true"
            class="section__flix"
    ></app-flix-list-element>}
    <i class="fa-solid fa-chevron-right" (click)="scrollRight('scrollable-series')"></i>
  </div>
    } @else {
      <p>No rated series found.</p>
    }
  </article>
</section>



