<div class="container">
  <app-flix-list-element  [title]="serie.name"
  [average]="serie.vote_average"
  [date]="serie.first_air_date"
  [image]="'https://image.tmdb.org/t/p/w500/'+ serie.poster_path"
  [isRated]="ratedSeries[serie.id] || false"
  ></app-flix-list-element>

  <div class="container__sinopsis">
    <h3>Synopsis</h3>
    <p>{{serie.overview}}</p>
    <button (click)="openModal()" class="container__btn-rating"><i class="fa-solid fa-check"></i> Rating</button>
  </div>
</div>
@if (isModalOpen) {
  <app-rating-form  [isModalOpen]="isModalOpen"
  (modalClosed)="isModalOpen = false" (ratingSubmitted)="onRatingSubmitted()" ></app-rating-form>
}
